<div class="footer">
    <div class="container">
        <div class="row">
            <div class="row col-xl-10 col-lg-10">
                <div>
                    <h2>联系我们</h2>
                    <p>黑镜子科技（北京）有限公司</p>
                    <p>contact@@blackmirror.tech</p>
                    <p>北京市朝阳区东直门外斜街 东外56号文创园 一层111室</p>
                </div>
            </div>

            <div class="position-relative">
                <div class="position-absolute tips-content">
                    <div class="dd-qr-img">
                        <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/qr-code.png" alt="">
                    </div>
                    <p style="color: #34384A;text-align: center;">微信客服</p>
                </div>
            </div>
        </div>

        <div class="foo container text-center">
            <!-- <a href="/privacy">隐私条款</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -->
            Copyright © 2018 黑镜子科技（北京）有限公司 All rights reserved.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP备  &nbsp;&nbsp;&nbsp;京公安网安备 
        </div>
    </div>
</div>

{{yield}}
