<section id="about">
  <div class="home">
      <div class="container-fluid">
          <div class="title">
              <p>HOME，让家一般的温暖时刻伴随</p>
              <p>是咚哒精选儿童教育服务的理念</p>
          </div>
          <div class="row cell-display-home">
              <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/home-all.png" >
          </div>
          <div class="row cell-not-display">
              <div class="col-xl-3 col-sm-12 col-lg-6 col-md-12 ct-mid">
                  <div class="dd-time h">
                      <p class="tit">Hope</p>
                      <p class="status">孩子，承载着家庭的希望</p>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-12 col-lg-6 col-md-12 ct-mid">
                  <div class="o dd-time">
                      <p class="tit">Opportunity</p>
                      <p class="status">发现与众不同的学习机会</p>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-12 col-lg-6 col-md-12 ct-mid">
                  <div class="m dd-time">
                      <p class="tit">Milestone</p>
                      <p class="status">关注每个成长的里程碑</p>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-12 col-lg-6 col-md-12 ct-mid">
                  <div class="e dd-time">
                      <p class="tit">Enjoy</p>
                      <p class="status">欢笑，被定格在瞬间</p>
                  </div>
              </div>
          </div>
          <div class="row other-not-display">
              <div class="col-md-12 col-sm-12 row">
                  <p class="tit">Hope</p>
                  <p class="status">孩子，承载着家庭的希望</p>
              </div>
              <div class="col-md-12 col-sm-12 row">
                  <p class="tit">Opportunity</p>
                  <p class="status">发现与众不同的学习机会</p>
              </div>
              <div class="col-md-12 col-sm-12 row">
                  <p class="tit">Milestone</p>
                  <p class="status">关注每个成长的里程碑</p>
              </div>
              <div class="col-md-12 col-sm-12 row">
                  <p class="tit">Enjoy</p>
                  <p class="status">欢笑，被定格在瞬间</p>
              </div>
          </div>
      </div>
  </div>
</section>

{{yield}}
