<div class="head">
    <div class="container-fluid" >
        <div class="header">
            <nav class="navbar navbar-light fixed-top nav-adjust">
                <div class="container">
                    <a class="navbar-brand logo" href="/">
                        <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/logo.png" class="d-inline-block align-top" alt="">
                        为孩子创造与众不同
                    </a>
                    <div class="nav-href" id="scroll-spy">
                        <a class="navbar-brand cell-not-display" href="#about">关于咚哒</a>
                        <a class="navbar-brand cell-not-display" href="#detail">咚哒为你</a>
                        <a class="navbar-brand cell-not-display" href="#contact">联系我们</a>
                        <a class="btn" type="button" {{action 'showQrCode' true}} >
                            立即下载
                        </a>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="content">
                    <p>
                                随时随地 <br>
                        为0-12岁的孩子 <br>
                        预订温暖的看顾,匹配与众不同 <br>
                        的课程，安排非凡的体验活动
                            </p>
                    <img class="float-right cell-not-display cell-not-display-tap" src="https://bm-web.oss-cn-beijing.aliyuncs.com/head_con.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="pop_up"  id="pop_up" style="display: none;" {{action 'showQrCode' false}}>

        <div class="row">
            <div class="qr_head col-6">
                <div class="img">
                    <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/qr-code.png" alt="">
                </div>
            </div>

            <div class="col-6">
                <a class="btn ios" href="https://itunes.apple.com/cn/app/%E5%92%9A%E5%93%92/id1095143390?mt=8" >
                    <div>
                        <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_apple@3x.png" alt="" class="dd-btn-img">
                        <p class="dd-btn-txt">IOS版</p>
                    </div>
                </a>

                <a class="android btn" href="http://www.wandoujia.com/apps-com.blackmirror.dongda" >
                    <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_android@3x.png" alt="" class="dd-btn-img">
                    <p class="dd-btn-txt">Android版</p>
                </a>
            </div>

        </div>
    </div>
</div>

{{yield}}
