<section id="detail">
  <div class="container">
      <div class="tips row cell-not-display">
          <div class="col-xl-6 col-lg-6 col-md-6 tips-img" >
              <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/tips1.png" alt="">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 position-relative">
              <div class="position-absolute tips-content" >
                  <p class="con_title">为您精心筛选优质的看顾服务</p>
                  <p class="con_word">Daycare</p>
                  <div class="sentence">
                      <p>在你附近 &nbsp;&nbsp;随时随地</p>
                      <p>年龄细分 &nbsp;&nbsp;温暖贴心</p>
                      <p>国际理念 &nbsp;&nbsp;环境友好</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 float-right">
              <div class="position-relative float-right" style="height: 100%;width: 100%">
                  <div class="position-absolute tips-content-l" style="width: inherit;">
                      <p class="con_title">为孩子精准匹配多元化的课程</p>
                      <p class="con_word">Problem Based learning </p>
                      <div class="sentence">
                          <p>个性发展 &nbsp;&nbsp;自主成长</p>
                          <p>专业引导 &nbsp;&nbsp;全面发掘</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 tips-img" >
              <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/tips2.png" alt="">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 tips-img" >
              <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/tips3.png" alt="">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 position-relative">
              <div class="position-absolute tips-content" >
                  <p class="con_title">夏冬令营＆体验活动</p>
                  <p class="con_word">Summer/Winter Camp ＆ Day trip</p>
                  <div class="sentence">
                      <p>拓宽视野 &nbsp;&nbsp;体验感悟</p>
                      <p>突破自我 &nbsp;&nbsp;寓学于乐</p>
                      <p>在体验中成长，留下美好的回忆</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="tips cell other-not-display">
          <div class="col-sm-12 tips-img" >
              <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/tips1.png" alt="">
          </div>
          <div class="col-sm-12">
              <div class="tips-content-text-align" >
                  <p class="con_title">为您精心筛选优质的看顾服务</p>
                  <p class="con_word">Daycare</p>
                  <div class="sentence">
                      <p>在你附近 &nbsp;&nbsp;随时随地</p>
                      <p>年龄细分 &nbsp;&nbsp;温暖贴心</p>
                      <p>国际理念 &nbsp;&nbsp;环境友好</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 tips-img" >
              <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/tips2.png" alt="">
          </div>
          <div class="col-sm-12">
              <div class="tips-content-text-align">
                  <p class="con_title">为孩子精准匹配多元化的课程</p>
                  <p class="con_word">Problem Based learning </p>
                  <div class="sentence">
                      <p>个性发展 &nbsp;&nbsp;自主成长</p>
                      <p>专业引导 &nbsp;&nbsp;全面发掘</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 tips-img" >
              <img src="https://bm-web.oss-cn-beijing.aliyuncs.com/tips3.png" alt="">
          </div>
          <div class="col-sm-12">
              <div class="tips-content-text-align">
                  <p class="con_title">夏冬令营＆体验活动</p>
                  <p class="con_word">Summer/Winter Camp ＆ Day trip</p>
                  <div class="sentence">
                      <p>拓宽视野 &nbsp;&nbsp;体验感悟</p>
                      <p>突破自我 &nbsp;&nbsp;寓学于乐</p>
                      <p>在体验中成长，留下美好的回忆</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{{yield}}
