
$font-stack:    PingFangSC-Regular, Helvetica, sans-serif;

.home {
  width: 100%;
  padding: 150px 8%;

  .title p {
    text-align: center;
    font-family: $font-stack;
    font-size: 30px;
    color: #34384A;
    letter-spacing: 1px;
    line-height: 39px;
    font-weight: bold;
    // margin-bottom: -40px;

    margin-left: -10%
  }

  // .title p {
  //   margin-left: -10%;
  // }

  .h {
    background: url("https://bm-web.oss-cn-beijing.aliyuncs.com/h.png") no-repeat;
    background-size: contain;
  }

  .o {
    background: url("https://bm-web.oss-cn-beijing.aliyuncs.com/o.png") no-repeat;
    background-size: contain;
  }

  .m {
    background: url("https://bm-web.oss-cn-beijing.aliyuncs.com/m.png") no-repeat;
    background-size: contain;
  }

  .e {
    background: url("https://bm-web.oss-cn-beijing.aliyuncs.com/e.png") no-repeat;
    background-size: contain;
  }

  .dd-time {
    width: 220px;
    height: 190px;
    float: left;
    position: relative;
    margin: 0 auto;
  }

  p.tit {
    margin: 150px 0 0 30px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #898c96;
    letter-spacing: 1px;
    line-height: 56px;
  }

  p.tit:first-letter {
    font-size: 60px;
    color: #898c96;
  }

  .status {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #5F6270;
    letter-spacing: 1px;
    margin-left: 30px;
  }
}

.other-not-display {
  display: none;
}

.cell-display-home img {
  display: none;
}

.ct-mid {
  display: inherit;
  margin-bottom: 70px;
}

.tips-img {
  text-align: center;
}
.tips-content {
  top: 50%;
  transform: translateY(-50%);
}
.tips-content-l {
  left: 50%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.tips img {
  width: 360px;
  height: 360px;
}
.right {
  float:left;
  /*padding: 60px 15%;*/
  padding: 60px 0;
}

.con_title {
  font-family: $font-stack;
  font-size: 24px;
  color: #34384A;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 2px;
}
.con_word {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 16px;
  color: #B5B6BC;
}

.sentence {
  margin-top: 30px;

  p {
    margin: 0;
    font-family: $font-stack;
    font-size: 16px;
    color: #5F6270;
    letter-spacing: 1px;
  }
}
