.page-index {
    // padding: 0 80px;

    .split-bottom {
        margin-bottom: 112px;
    }
    .split-top, .split-bottom {
        .pic {
            width: 100%;
            height: 75px;
        }
    }
    .header {
        background-image: url('/images/img_head-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 675px;
        padding: 0 80px;
        margin-bottom: 112px;

        .title {
            @extend %bm-display;
        }
        .subtitle {
            @extend %bm-h2-n00;
        }
    }
    .content {
        padding: 0 80px;

        .content-one {
            width: 527px;
            margin-bottom: 112px;

            .title {
                @extend %bm-h1;
                text-align: center;
            }

            .split-p {

                span {
                    @extend %bm-h3;
                    width: 96px;
                    text-align: center;
                }
            }

            .pic {
                width: 100%;
            }
        }
        .content-two {
            width: 100%;
            height: 222px;
            margin-bottom: 64px;

            .left-card {
                width: 50%;

                .detail {
                    
                    .icon {
                        height: 28px;
                        margin-right: 16px;
                    }
                    .topic {
                        @extend %bm-h2-n55;
                    }
                }
                .title {
                    @extend %bm-h1;
                }
                .des {
                    @extend %bm-p2;
                }
            }
            .right-card {
                width: 50%;

                .pic {
                    height: 100%;
                }
            }
        }
        .content-three {
            width: 100%;
            margin-bottom: 40px;
            
            .card-wrapper {
                width: 293px;
                
                .pic {
                    height: 40px;
                    width: 40px;
                }
                .title {
                    @extend %bm-h2-blue;
                }
                .des {
                    @extend %bm-p1;
                }
            }
        }
        .content-four {
            width: 100%;
            margin-bottom: 112px;

            .card-wrapper {
                width: 50%;

                .pic {
                    height: 48px;
                    width: 48px;
                    margin-bottom: 40px;
                }
                .des, .des-block{
                    @extend %bm-p1;
                }
            }            
        }
        .content-five {
            width: 100%;

            .title {
                @extend %bm-h1;
                margin-top: 40px;
                margin-bottom: 64px;
            }
            .content-wrapper {
                width: 100%;

                .card-wrapper {
                    width: 293px;

                    .pic-wrapper {
                        width: 293px;
                        height: 136px;
                        border-radius: 4px;

                        .pic {
                            width: 80px;
                            height: 80px;
                        }
                    }
                    .title {
                        @extend %bm-h2-n95;
                    }
                    .des {
                        @extend %bm-p1;
                    }
                    .des-block {
                        @extend %bm-pp;
                    }
                    &:nth-child(1) {
                        .pic-wrapper {
                            background-image: linear-gradient(134deg, #2FAAFF 0%, #0091F4 100%);
                        }
                    }
                    &:nth-child(2) {
                        .pic-wrapper {
                            background-image: linear-gradient(134deg, #FCE184 0%, #F6D560 100%);
                        }
                    }
                    &:nth-child(3) {
                        .pic-wrapper {
                            background-image: linear-gradient(134deg, #A2F0FF 0%, #7DE3F7 100%);
                        }
                    }
                }
            }
        }
        .content-six {
            width: 100%;

            .title {
                @extend %bm-h1;
                margin-bottom: 64px;
            }
            .content-wraper-outer {

                .split-line-row {
                    // margin: 40px 0;
                    opacity: 0.2;
                    border: 0.5px solid #06173C;
                    width: 100%;
                }
                .content-wraper {

                    .split-line-col {
                        margin: 0 110px;
                        opacity: 0.2;
                        border: 0.5px solid #06173C;
                    }
                    .card-wraper {
                        width: 408px;
                        height: 212px;

                        .pic {
                            width: 32px;
                            height: 32px;
                        }
                        .title {
                            @extend %bm-h2-n95;
                        }
                        .des {
                            @extend %bm-p2;
                        }
                    }
                    &:nth-last-child(1) {

                        .card-wraper {
                            padding-top: 40px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        height: 40px;
        margin: 80px;
        margin-bottom: 30px;

        .des {
            @extend %bm-p3;
        }
    }
}