@import "ember-bootstrap/bootstrap";
@import 'foundation';
@import 'head';
@import 'home';
@import 'foot';
@import 'mdextends';

$font-stack:    PingFangSC-Regular, Helvetica, sans-serif;
$primary-color: #333;

body {
  min-width: 596px;
  margin: 0;
  padding: 0;
  height: auto;
}
