{{#bp-layout direction='col' main='center' classNames='page-index'}}
    {{nav-top toHomepage=(action 'toIndex')}}
    <a id="a1" class="anchor-point"></a>
    {{#bp-layout direction='col' main='center' classNames='header'}}
        {{#bp-layout direction='col' main='start' classNames='header-mid'}}
            <p class="title mb-4">在这里打造未来</p>
            <p class="subtitle">一站式数据融合服务与产品<br/>帮助您以数据驱动增长，解决棘手的业务难题</p>
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='col' main='start' cross='center' classNames='content'}}
        {{#bp-layout direction='col' main='start' classNames='content-one'}}
            <p class="title mb-4">以更快速、更智能的方式<br/>轻松打理您极具价值的碎片化信息</p>
            {{#bp-layout direction='row' main='between' classNames='split-p mb-4'}}
                <span class="detail">数据库</span>
                <span class="detail">应用</span>
                <span class="detail">文档</span>
                <span class="detail">接口</span>
            {{/bp-layout}}
            <img class="pic" src="/images/img_databaseappapi.png"/>
        {{/bp-layout}}
        <a id="a2" class="anchor-point"></a>
        {{#bp-layout direction='row' main='start' cross="center" classNames='content-two'}}
            {{#bp-layout direction='col' main='start' classNames='left-card'}}
                {{#bp-layout direction='row' main='start' classNames='detail mb-4'}}
                    <img class="icon" src="/images/icon_data-lab.svg">
                    <p class="topic">互动数据实验室</p>
                {{/bp-layout}}
                <p class="title mb-4">数据无所不在<br/>让每个人都能从中获取价值</p>
                <p class="des">借以丰富的实时互动图表、灵活的参数操作与可定制的自动化报告，帮助您轻松讲述数据故事，查看与分享商业观点。</p>
            {{/bp-layout}}
            {{#bp-layout direction='row' main='center' classNames='right-card'}}
                <img class="pic" src="/images/img_data-lab.png">
            {{/bp-layout}}
        {{/bp-layout}}
        {{#bp-layout direction='row' main='between' classNames='content-three'}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                <img class="pic mb-4" src="/images/icon_Connection@3x.svg"/>
                <p class="title mb-4">连接</p>
                <p class="des">在一个平台上，任意调用您的所有信息</p>
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                <img class="pic mb-4" src="/images/icon_Visualization@3x.svg"/>
                <p class="title mb-4">呈现</p>
                <p class="des">丰富的可视化图表，以实时交互方式探索与绘制最具影响力的故事</p>
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                <img class="pic mb-4" src="/images/icon_Collaboration@3x.svg"/>
                <p class="title mb-4">协作</p>
                <p class="des">让每个人都参与，让每个人都享用，令您的团队如虎添翼</p>
            {{/bp-layout}}
        {{/bp-layout}}
        {{#bp-layout direction='col' main='start' cross='center' classNames='content-three min'}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper mb-5'}}
                <img class="pic mb-4" src="/images/icon_Connection@3x.svg"/>
                <p class="title mb-4">连接</p>
                <p class="des">在一个平台上，任意调用您的所有信息</p>
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper mb-5'}}
                <img class="pic mb-4" src="/images/icon_Visualization@3x.svg"/>
                <p class="title mb-4">呈现</p>
                <p class="des">丰富的可视化图表，以实时交互方式探索与绘制最具影响力的故事</p>
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper mb-5'}}
                <img class="pic mb-4" src="/images/icon_Collaboration@3x.svg"/>
                <p class="title mb-4">协作</p>
                <p class="des">让每个人都参与，让每个人都享用，令您的团队如虎添翼</p>
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='row' main='between' classNames='split-bottom'}}
        <img class="pic" src="/images/img_bg-divider-up.png"/>
    {{/bp-layout}}
    {{#bp-layout direction='col' main='start' cross='center' classNames='content'}}
        <a id="a3" class="anchor-point"></a>
        {{#bp-layout direction='row' main='start' cross="center" classNames='content-two'}}
            {{#bp-layout direction='col' main='start' classNames='left-card'}}
                {{#bp-layout direction='row' main='start' classNames='detail mb-4'}}
                    <img class="icon" src="/images/icon_data-recipe.svg">
                    <p class="topic">数据处方</p>
                {{/bp-layout}}
                <p class="title mb-4">意会探索边界<br/>成就算法时代下的自由技艺</p>
                <p class="des">与数据科学家、商业分析师、开发者协作探索，发现前所未见的见解。为制定更明智的业务决策，提供充分的信息依据。</p>
            {{/bp-layout}}
            {{#bp-layout direction='row' main='center' classNames='right-card'}}
                <img class="pic" src="/images/img_data-recipe.png">
            {{/bp-layout}}
        {{/bp-layout}}
        {{#bp-layout direction='row' main='between' classNames='content-four'}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper mr-3'}}
                <img class="pic" src="/images/img_click@3x.png">
                <p class="des">简洁易用，无需任何代码，点击即可应用现成的处方，随时展开探索与洞察</p>
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper mr-3'}}
                <img class="pic" src="/images/img_code@3x.png">
                <p class="des mb-3">专业强大，支持R、Python、SQL等混合编程环境，内置各种函数，满足您每个步骤的根本诉求</p>
                {{#bp-layout direction='row' main='start' classNames='des-block-wrapper'}}
                    <p class="des-block">监测</p>
                    <p class="des-block">分析</p>
                    <p class="des-block">优化</p>
                    <p class="des-block">预测</p>
                    <p class="des-block">模拟</p>
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
        {{#bp-layout direction='col' main='start' cross='center' classNames='content-four min'}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper mb-5'}}
                <img class="pic" src="/images/img_click@3x.png">
                <p class="des">简洁易用，无需任何代码，点击即可应用现成的处方，随时展开探索与洞察</p>
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' classNames='card-wrapper mb-5'}}
                <img class="pic" src="/images/img_code@3x.png">
                <p class="des mb-3">专业强大，支持R、Python、SQL等混合编程环境，内置各种函数，满足您每个步骤的根本诉求</p>
                {{#bp-layout direction='row' main='start' classNames='des-block-wrapper' wrap=true}}
                    <p class="des-block">监测</p>
                    <p class="des-block">分析</p>
                    <p class="des-block">优化</p>
                    <p class="des-block">预测</p>
                    <p class="des-block">模拟</p>
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='row' main='between' classNames='split-top'}}
        <img class="pic" src="/images/img_bg-divider-down.png"/>
    {{/bp-layout}}
    {{#bp-layout direction='col' main='start' cross='center' classNames='content'}}
        <a id="a4" class="anchor-point"></a>
        {{#bp-layout direction='col' main='start' cross='center' classNames='content-five'}}
            <p class="title-top">批流一体数据融合，构建灵活健壮的企业级数据资产管理平台</p>
            {{#bp-layout direction='row' main='between' classNames='content-wrapper'}}
                {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                    {{#bp-layout direction='row' main='center' cross='center' classNames='pic-wrapper'}}
                        <img class="pic" src="/images/icon_Date-integration@3x.png">
                    {{/bp-layout}}
                    <p class="title mb-3">多域实时数据融合 </p>
                    <p class="des mb-3">只需拖拽，便可一键实现规模化ETL，从原始数据迅速迁移到任何您需要的地方。</p>
                    {{#bp-layout direction='row' main='start' classNames='des-block-wrapper' wrap=true}}
                        <p class="des-block">数据管道</p>
                        <p class="des-block">数据任务</p>
                        <p class="des-block">数据资产</p>
                    {{/bp-layout}}
                {{/bp-layout}}
                {{#bp-layout direction='col' main='start' classNames='card-wrapper mx-4'}}
                    {{#bp-layout direction='row' main='center' cross='center' classNames='pic-wrapper'}}
                        <img class="pic" src="/images/icon_Data-governance@3x.png">
                    {{/bp-layout}}
                    <p class="title mb-3">数据治理 </p>
                    <p class="des mb-3">纵览全局，在简洁的看板中轻松管理每个领域的数据，即使再多，也能了然于胸。</p>
                    {{#bp-layout direction='row' main='start' classNames='des-block-wrapper' wrap=true}}
                        <p class="des-block">主数据管理</p>
                        <p class="des-block">数据质量管理</p>
                    {{/bp-layout}}
                {{/bp-layout}}
                {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                    {{#bp-layout direction='row' main='center' cross='center' classNames='pic-wrapper'}}
                        <img class="pic" src="/images/icon_data-co@3x.png">
                    {{/bp-layout}}
                    <p class="title mb-3">数据认知与协同</p>
                    <p class="des mb-3">沉淀与共享，让知识在团队中流动，捕获每一种见解，不断创造全新的认知。</p>
                    {{#bp-layout direction='row' main='start' classNames='des-block-wrapper' wrap=true}}
                        <p class="des-block">Code Engine</p>
                        <p class="des-block">元数据管理</p>
                        <p class="des-block">知识图谱</p>
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' cross='center' classNames='content-wrapper min'}}
                {{#bp-layout direction='col' main='start' cross='center' classNames='card-wrapper mb-5'}}
                    {{#bp-layout direction='row' main='center' cross='center' classNames='pic-wrapper'}}
                        <img class="pic" src="/images/icon_Date-integration@3x.png">
                    {{/bp-layout}}
                    <p class="title mb-3">多域实时数据融合 </p>
                    <p class="des mb-3">只需拖拽，便可一键实现规模化ETL，从原始数据迅速迁移到任何您需要的地方。</p>
                    {{#bp-layout direction='row' main='center' classNames='des-block-wrapper' wrap=true}}
                        <p class="des-block">数据管道</p>
                        <p class="des-block">数据任务</p>
                        <p class="des-block">数据资产</p>
                    {{/bp-layout}}
                {{/bp-layout}}
                {{#bp-layout direction='col' main='start' cross='center' classNames='card-wrapper mb-5'}}
                    {{#bp-layout direction='row' main='center' cross='center' classNames='pic-wrapper'}}
                        <img class="pic" src="/images/icon_Data-governance@3x.png">
                    {{/bp-layout}}
                    <p class="title mb-3">数据治理 </p>
                    <p class="des mb-3">纵览全局，在简洁的看板中轻松管理每个领域的数据，即使再多，也能了然于胸。</p>
                    {{#bp-layout direction='row' main='center' classNames='des-block-wrapper' wrap=true}}
                        <p class="des-block">主数据管理</p>
                        <p class="des-block">数据质量管理</p>
                    {{/bp-layout}}
                {{/bp-layout}}
                {{#bp-layout direction='col' main='start' cross='center' classNames='card-wrapper mb-5'}}
                    {{#bp-layout direction='row' main='center' cross='center' classNames='pic-wrapper'}}
                        <img class="pic" src="/images/icon_data-co@3x.png">
                    {{/bp-layout}}
                    <p class="title mb-3">数据认知与协同</p>
                    <p class="des mb-3">沉淀与共享，让知识在团队中流动，捕获每一种见解，不断创造全新的认知。</p>
                    {{#bp-layout direction='row' main='center' classNames='des-block-wrapper' wrap=true}}
                        <p class="des-block">Code Engine</p>
                        <p class="des-block">元数据管理</p>
                        <p class="des-block">知识图谱</p>
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='row' main='between' classNames='split-bottom'}}
        <img class="pic" src="/images/img_bg-divider-up.png"/>
    {{/bp-layout}}
    {{#bp-layout direction='col' main='start' cross='center' classNames='content'}}
        <a id="a5" class="anchor-point"></a>
        {{#bp-layout direction='col' main='center' cross='center' classNames='content-six'}}
            <p class="title">变革与突破，带您开启全新数据之旅</p>
            {{#bp-layout direction='col' main='center' cross='center' classNames='content-wrapper-outer'}}
                {{#bp-layout direction='row' main='center' classNames='content-wraper'}}
                    {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                        <img class="pic mb-4" src="/images/icon_security@2x.svg">
                        <p class="title mb-4">安全</p>
                        <p class="des">Sandbox机制与非对称加密，保障数据安全.角色与数字证书双重验证，监控应用过程</p>
                    {{/bp-layout}}
                    <div class="split-line-col"></div>
                    {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                        <img class="pic mb-4" src="/images/icon_quality@2x.svg">
                        <p class="title mb-4">质量</p>
                        <p class="des">实时监控数据变化与异常，快速响应任何数据质量问题</p>
                    {{/bp-layout}}
                {{/bp-layout}}
                <div class="split-line-row"></div>
                {{#bp-layout direction='row' main='center' classNames='content-wraper'}}
                    {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                        <img class="pic mb-4" src="/images/icon_compliance@2x.svg">
                        <p class="title mb-4">合规</p>
                        <p class="des">协助您降低政策风险，构建合规策略</p>
                    {{/bp-layout}}
                    <div class="split-line-col"></div>
                    {{#bp-layout direction='col' main='start' classNames='card-wrapper'}}
                        <img class="pic mb-4" src="/images/icon_could@2x.svg">
                        <p class="title mb-4">部署</p>
                        <p class="des">私有化部署 安全公有云</p>
                        <p class="des">嵌入式 多云架构</p>
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
            {{#bp-layout direction='col' main='start' cross='center' classNames='content-wrapper-outer min'}}
                {{#bp-layout direction='col' main='start' cross='center' classNames='card-wrapper mb-5'}}
                    <img class="pic mb-4" src="/images/icon_security@2x.svg">
                    <p class="title mb-4">安全</p>
                    <p class="des">Sandbox机制与非对称加密，保障数据安全.角色与数字证书双重验证，监控应用过程</p>
                {{/bp-layout}}
                {{#bp-layout direction='col' main='start' cross='center' classNames='card-wrapper mb-5'}}
                    <img class="pic mb-4" src="/images/icon_quality@2x.svg">
                    <p class="title mb-4">质量</p>
                    <p class="des">实时监控数据变化与异常，快速响应任何数据质量问题</p>
                {{/bp-layout}}
                {{#bp-layout direction='col' main='start' cross='center' classNames='card-wrapper mb-5'}}
                    <img class="pic mb-4" src="/images/icon_compliance@2x.svg">
                    <p class="title mb-4">合规</p>
                    <p class="des">协助您降低政策风险，构建合规策略</p>
                {{/bp-layout}}
                {{#bp-layout direction='col' main='start' cross='center' classNames='card-wrapper mb-5'}}
                    <img class="pic mb-4" src="/images/icon_could@2x.svg">
                    <p class="title mb-4">部署</p>
                    <p class="des">私有化部署 安全公有云</p>
                    <p class="des">&nbsp;&nbsp;&nbsp;嵌入式 多云架构</p>
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='row' main='center' cross='center' classNames='footer'}}
        <p class="des">京ICP备案号</p>
    {{/bp-layout}}
{{/bp-layout}}

{{outlet}}